.h1{ position: relative; text-align: center; padding-top: 20rem; padding-bottom: 30rem; text-shadow: 1pt;}
.card{ position: relative; margin: 25px; padding-top: 15rem; padding-left: 9rem}
.vwo{ font-style: italic;}
.tto{width: 17em;}
.gty{ border: 20px; width: 30ex;}
.nav-list-iem,.nav-list-iem-1  {width: 15em; height: 14em; margin-top: 5em;}
.nav-list-iem-1{ margin-top: -5em; margin-left: 12em;}