.h1{ position: relative; text-align: center; padding-top: 20rem; padding-bottom: 30rem; text-shadow: 1pt;}
.card{ position: relative; margin-top: 25px; padding-top: 15rem; padding-left: 9rem; height: 10em; width: 8em;}
.vwo{ font-style: italic;}
.tto{width: 1em;}
.card-img-top{ margin-top: -25px; margin-right: -14em; height: 1em;} 
.ccr{height: 4em; width: 6em;}
