
.nav-list-item{margin-block-start: 10px; }
.vwo{ font-style: italic;}
.tto{width: 1em;}
.card-img-top{ margin-top: -25px; margin-right: -14em; height: 1em;} 
.ccr{height: 4em; width: 6em;}
.card{ width: 2em;}